<div class="mt-4">
  <h1>Roles Page</h1>
</div>
<div>
  <flexi-grid
    class="mt-4"
    [data]="roles()"
    [showCaption]="true"
    captionTitle="Role List"
    [showExportExcel]="true"
    [filterable]="true"
    [sortable]="true"
    [draggable]="true"
    themeClass="light"
    [captionTemplate]="captionTemplate"
  >
    <ng-template #captionTemplate>
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#addModal"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </ng-template>
    <flexi-grid-column field="id" title="Id"></flexi-grid-column>
    <flexi-grid-column field="name" title="Name"></flexi-grid-column>
    <flexi-grid-column
      title="Operations"
      [columnTemplate]="operationsColumnTemplate"
      textAlign="center"
    >
      <ng-template #operationsColumnTemplate let-item="item">
        <button
          class="btn btn-outline-danger"
          (click)="deleteByName(item.name)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </ng-template>
    </flexi-grid-column>
  </flexi-grid>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Role Form</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #addModalCloseBtn
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Role Name</label>
          <input type="text" class="form-control" [(ngModel)]="name" />
        </div>
        <div class="form-group mt-2">
          <label>Description</label>
          <input type="text" class="form-control" [(ngModel)]="description" />
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="save()" type="button" class="btn btn-primary w-100">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
